@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&family=Karantina&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    padding: 0;
    margin: 0;
  }

  body {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    color: #fff;
    background-color: #d9d9d9;

    @apply text-[14px] md:text-[16px] xl:text-[18px];
  }
}

@layer components {
  .section {
    width: 100%;
    @apply py-14 md:py-16 xl:py-[104px];
  }

  .section-title {
    @apply uppercase text-[40px] font-thin leading-[1.4] tracking-tighter mb-6 md:leading-[1.21] md:text-[67px] xl:text-[98px];
  }

  .section-title-accent {
    @apply font-medium;
  }

  .section-text {
    @apply font-extralight leading-[1.43]  md:leading-[1.25]  xl:leading-[1.33];
  }

  .section-text-accent {
    @apply font-normal;
  }

  .container {
    @apply w-full mx-auto px-5 xs:w-[480px] md:px-8 md:w-[768px] xl:w-[1280px] xl:px-6;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .hero-bg-mob {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/hero-bg-mob.webp) type("image/webp") 1x,
        url(/images/hero-bg-mob@2x.webp) type("image/webp") 2x,
        url(/images/hero-bg-mob.jpg) 1x,
        url(/images/hero-bg-mob@2x.jpg) 2x
      );
  }
  .hero-bg-tab {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/hero-bg-tab.webp) type("image/webp") 1x,
        url(/images/hero-bg-tab@2x.webp) type("image/webp") 2x,
        url(/images/hero-bg-tab.jpg) 1x,
        url(/images/hero-bg-tab@2x.jpg) 2x
      );
  }

  .hero-bg-desk {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/hero-bg-desk.webp) type("image/webp") 1x,
        url(/images/hero-bg-desk@2x.webp) type("image/webp") 2x,
        url(/images/hero-bg-desk.jpg) 1x,
        url(/images/hero-bg-desk@2x.jpg) 2x
      );
  }
  .hero {
    @apply hero-bg-mob bg-cover bg-center pt-[106px] md:pt-[124px] md:pb-16 md:hero-bg-tab xl:pt-[106px] xl:pb-[104px] xl:hero-bg-desk;
  }

  .about-bg-mob {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/about-bg-mob.webp) type("image/webp") 1x,
        url(/images/about-bg-mob@2x.webp) type("image/webp") 2x,
        url(/images/about-bg-mob.jpg) 1x,
        url(/images/about-bg-mob@2x.jpg) 2x
      );
  }

  .about-bg-tab {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/about-bg-tab.webp) type("image/webp") 1x,
        url(/images/about-bg-tab@2x.webp) type("image/webp") 2x,
        url(/images/about-bg-tab.jpg) 1x,
        url(/images/about-bg-tab@2x.jpg) 2x
      );
  }
  .about-bg-desk {
    background-image: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
      image-set(
        url(/images/about-bg-desk.webp) type("image/webp") 1x,
        url(/images/about-bg-desk@2x.webp) type("image/webp") 2x,
        url(/images/about-bg-desk.jpg) 1x,
        url(/images/about-bg-desk@2x.jpg) 2x
      );
  }

  .about {
    @apply about-bg-mob bg-cover bg-center xs:about-bg-tab xs:bg-left xl:about-bg-desk;
  }
}

.hero-btn::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 42px;
  background-image: url(/images/hero-btn-icon-left.svg);
  background-repeat: no-repeat;
  top: 0;
  left: 0;

  @apply xl:bg-cover;
}

.hero-btn::after {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 42px;
  background-image: url(/images/hero-btn-icon-right.svg);
  background-position-x: right;
  background-repeat: no-repeat;
  top: 0;
  right: 0;

  @apply xl:bg-cover;
}

.services .services-btn-active {
  @apply font-medium text-white relative pl-[14px];
}

.services-btn-active::before {
  content: "";
  background: #fff;
  @apply block absolute top-1/2 left-0 rotate-45 -translate-y-1/2 w-[6px] h-[6px];
}

.form-input {
  background-color: rgba(255, 255, 255, 0.05);
  @apply block w-full h-6 px-2 text-[13px] leading-[1.84] font-extralight;
}

.form-textarea {
  background-color: rgba(255, 255, 255, 0.05);
  @apply block w-full h-[196px] px-2 resize-none text-[13px] leading-[1.84] font-extralight;
}

.career-checked-label.error .career-check-icon {
  border-color: #ff5757;
}

.input-wrap.error {
  color: #ff5757;
}
.input-wrap {
  @apply xl:mb-[26px];
}

.form-input::placeholder {
  @apply text-[13px] leading-[1.84] font-extralight text-white/20;
}

.career-checked-input:checked
  + .career-checked-label
  .career-check-icon-inside {
  opacity: 1;
}
.career-check-icon {
  border: 1px solid #fff;
  @apply relative min-w-[22px] h-[22px] cursor-pointer;
}

.career-check-icon-inside {
  opacity: 0.1;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @apply block absolute w-[14px] h-[14px];
}

.career-form-error {
  color: #ff5757;
  leading-trim: both;
  text-edge: cap;
  font-size: 12px;
  font-weight: 200;
  @apply text-[12px] font-extralight leading-loose tracking-wide absolute right-0 pl-4 flex items-center gap-1;
}

.gallery .gallery-slide-bg {
  opacity: 1;
  background: rgba(2, 15, 8, 0.75);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.gallery .swiper-slide-active .slide-container {
  z-index: 1;
  transform: scaleX(1.9);
  transition: 300ms;

  @apply xl:scale-x-[1.42];
}

.gallery .swiper-slide-next .slide-container {
  transform: scaleY(0.3);
  width: 121px;
  transition: 300ms;
  margin-left: auto;

  @apply xl:w-[312px] xl:scale-y-[0.52];
}
.gallery .swiper-slide-prev .slide-container {
  transform: scaleY(0.3);
  width: 121px;
  transition: 300ms;
  margin-right: auto;
  @apply xl:w-[312px] xl:scale-y-[0.52];
}

.gallery .gallery-slide-bg-active {
  opacity: 0;
}
